
/* --------------*/
/*General Resets */
/* --------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

/* Ressetting margins of elements */

body,
h1,
h2,
h3,
h4,
h5,
figure,
picture {
    margin : 0
}



body,
h1,
h2,
h3,
h4,
h5,
figure,
p{
   font-weight: 100;
}

/* Setting up our body */
body {
    height: 100vh;
    background-color: blueviolet;
}

/* Making Images easier to easier to style */
img,
picture {
max-width: 100%;
display: block; 
}

/* Making forms easier to work with */
input,
button,
text-area,
select {
    font : inherit
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Removing list styles on ul,ol elements */
ul[role = "list"],
li[role="list"] {
    list-style: none;
}

.container{
    position: relative;
    width:100%;
   
}

header{
    top:0;
    position: fixed;
    background-color: white;
    

}

header nav{
    top:0;
    position: fixed;
}

header ul {
    height: 100px;
    background-color: white;
    position: fixed;
    width:100%;
    margin: 0 auto;
    color:black
}

header ul {
    display: flex;
    list-style:none;
    padding-left: 60vw;
    padding-top:2rem;
    flex-wrap: wrap
}

header ul li {
    flex-grow: 1;
    padding-left: 0rem;
    color:black
}

header ul li a{
    text-decoration: none;
    font-size:1.5rem;
    font-weight: 1.2rem;
    color:black
}

header ul li a:hover{
    border-bottom: 3px solid royalblue;
 }

@media (max-width: 800px){
    
    header ul {
        display: block;
        height: auto;
        text-align:center;
        padding-left: 0;
        padding-top: 3rem;

    }

    header ul li {
        padding-bottom: 2rem;
        margin: 0 auto;
        text-align:center;
        width:100%;

    }
}

.main{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding: 50px 100px;
    /* background: url(https://i.pinimg.com/originals/f6/f1/f6/f6f1f6d588f82ea2dee99af24a8d4215.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; */
}

.main .main-heading {
    max-width: 800px;
    text-align: center;
}

.main .main-heading h1 {
   font-size: 36px;
   font-weight: 700;
   color:white;

}

.main-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main-two .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-two .info .box{
    position: relative;
    padding: 20px 0; 
    display: flex;
}

.main-two .info .box .icon{
   min-width: 60px;
   height: 60px;
   background:#fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 1.375rem;
   
}

.main-two .info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 400;
}

.main-two .info .box .text h3 {
    font-weight: 500;
    color:crimson
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 700
}

.contactForm .inputText{
    position: relative;
    width: 100%;
    margin-top: 10px;
}




